@import './common/index.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* color: var(--main-text-color); */
    color: #2A2F35;
    background: #f9fafc;
}

a {
    transition: background 300ms ease-in-out;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: row;
}

@media (max-width: 640px) {
    .app {
        flex-direction: column;
        height: initial;
    }
}

/* .mainContent {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
} */
