.header {
    padding: 16px;
}

.headerIn {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.headerRelations {
    display: flex;
    grid-gap: 12px;
    align-items: center;
    margin-left: auto;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-right: 24px;
}
